<h1>User Signup</h1>
<%= form_for :user, url: users_path do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :email %>
	<%= f.email_field :email %>

	<%= f.submit 'Sign up!' %>
<% end %>
