<h1>Welcome, <%= @user.name %></h1>
<%= link_to 'Create event', new_event_path %>
<%= link_to 'Show all events', events_path %>
<%= link_to 'Log out', logout_path %>

<div>
	<h3>Your events</h3>
	<% if @user.events.any? %>
		<% @user.events.each do |event| %>
			<li><%= link_to event.location, event %>, <%= event.date_in_words %></li>
		<% end %>
	<% else %>
		<p>You have no events!</p>
	<% end %>
</div>
<div>
	<h3>Your attended events</h3>
	<h4>Upcoming events</h4>
	<% if @upcoming_events.any? %>
		<% @upcoming_events.each do |event| %>
			<li>
				<%= event.location %>
				<br>
				<%= event.date_in_words %>
			</li>
		<% end %>
	<% else %>
		<p>You have no plans yet</p>
	<% end %>
	<h4>Past events</h4>
	<% if @past_events.any? %>
		<% @past_events.each do |event| %>
			<li>
				<%= event.location %>
				<br>
				<%= event.date_in_words %>
			</li>
		<% end %>
	<% else %>
		<p>You haven't been to any events yet</p>
	<% end %>
</div>