<h1>All events</h1>

<% if @events.any? %>
	<h3>Upcoming events</h3>
		<% @events.upcoming_events.each do |event| %>
			<li>
				<%= link_to event.location, event %><br><%= event.date_in_words %>
			</li>
		<% end %>
	<h3>Past events</h3>
		<% @events.past_events.each do |event| %>
			<li>
				<%= link_to event.location, event %><br><%= event.date_in_words %>
			</li>
		<% end %>
<% else %>
	<p>There are no events. <%= link_to 'Create one!', new_event_path %></p>
<% end %> 