<h1>Create event</h1>

<%= form_for :event, url: events_path do |f| %>
	<%= f.label :location %>
	<%= f.text_field :location %>

	<%= f.label :date %>
	<%= f.date_field :date %>
	<%= f.submit 'Create' %>
<% end %>