<h1>Event</h1>
<p>Creator:</p>
<p><%= @event.creator.name %></p>
<p>Location:</p>
<p><%= @event.location %></p>
<p>Time:</p>
<p><%= @event.date_in_words %></p>

<div>
	<a><%= link_to 'Join this event!', add_attendee_path(@event) %></a>
</div>
<div>
	<% if @event.attendees.any? %>
		<h4>Attendees:</h4>
		<% @event.attendees.each do |attendee| %>
			<li>
				<%= link_to attendee.name, @user %>
			  <% if attendee.name = @user.name %>
			  	<%= link_to	'Remove', remove_attendee_path(@event) %>
			  <% end %>
			</li>
		<% end %>
	<% else %>
		<p>No attendees yet for this event...</p>
	<% end %>
</div>

