<!DOCTYPE html>
<html>
  <head>
    <title>Eventprite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <p class="<%= type %>"><%= msg %></p>
    <% end %>
    <%= render 'sessions/header' %>
    <%= yield %>
  </body>
</html>
